body {
    background-color: rgba(230, 202, 165, 0.614);
}
p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.heading_text {
    font-weight: bold;
    color: rgb(123, 142, 91);
}
.header_div{
    top:5px;
    left: 5px;
    right: 5px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
}
.sub_div {
    top: 95px;
    left: 5px;
    right: 5px;
    height: 50px;
    text-align: center;
}
.center_div{
        display: block;
        margin-left: 5px;
        margin-right: 5px;
    }
